@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'MaruBuri';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Bold.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'MaruBuri';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/MaruBuri/MaruBuri-Regular.ttf') format("truetype");
  font-display: swap;
} 

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

body{
  background-color: #DEE8F1;
  /* transition: background-color 1s ease-in-out; */
}

body[data-theme="day"]{
  background-color: #F4E8C7;  
  transition: background-color 1s ease-in-out;
}

body[data-theme="night"]{
  background-color: #DEE8F1;
  transition: background-color 1s ease-in-out;
}


.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  padding: 90px 240px 90px 240px;
  background-color: #F4E8C7;
}

.home-btn{
  background: #4E321D;
  border-radius: 43.7077px;
  width: 249.35px;
  height: 79.22px;
}

.bg-black {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition : 'opacity 1.5s ease'
}


.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background: #FFFFFF;
  border-radius: 24px;
  position: relative;
  box-sizing: border-box;
  margin: 90px auto;
  padding: 30px;
}

.login-box .picture {
  width: 80%;
  height: 80%;
}

.login-close {
  float: right;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  margin-left: 80%;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.head1{
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 60px;
}

.head2{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 43px;
}

.head3{
  font-family: 'MaruBuri';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 40px;
}

.subhead{
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 36px;
}
.fc-beige{
  color : #F4E8C7
}
.fc-light-down{
  color : #A48975
}
.fc-dark-down{
  color : #4E321D
}
.fc-light-blue{
  color : #DEE8F1
}
.fc-dark-blue{
  color : #113057
}

.fc-white{
  color: white
}

.btn-brown{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 30px;
  gap: 10px;
  border-radius: 100px;
  background: #4E321D;
  border: 2px solid #4E321D;
  border-radius: 27px;
  color: #F4E8C7;
}


.btn-beige{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 30px;
  gap: 10px;
  border-radius: 100px;
  background: #F4E8C7;
  border: 2px solid #4E321D;
  border-radius: 27px;
}


.btn-light-blue{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 30px;
  gap: 10px;
  border-radius: 100px;
  background: #DEE8F1;
  border: 2px solid #113057;
  border-radius: 27px;
}

.btn-beige:disabled{
  background: #F9F8F4;
  border: 2px solid rgba(78, 50, 29, 0.5);
}


.btn-light-blue:disabled{
  background: rgba(222, 232, 241, 0.5);
  border: 2px solid rgba(17, 48, 87, 0.5);  
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 15vh;
    right: 0;
    height: 30vh;
    width: 20vw;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}


/*  Mobile */
@media screen and (max-width: 640px) { 
  .main {
    padding: 20px;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Set the background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the color and rounded corners of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #E8EBF1;
  border-radius: 10px;
  -webkit-border-radius: 9px;
  /* border : 6px solid transparent; */
  background-clip: content-box;
  opacity: 0.2;
}

/* Set the color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #E8EBF1;
}
.oveflow-y{
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display : flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question{
  padding: 10px 20px;
}

.answer{
  padding: 20px 40px;
  background-color: white;
  margin: 10px 0;
}

.answer img{
  width : 40px;
  height : 40px;
  padding : 0px 10px;
}

.evaluate{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px 40px;
  margin: 10px 0;
}


.divide {
  border: 1px solid #D6D6D6;
  margin: 20px 0px;
}

.divide-90 {
  border: 1px solid #D6D6D6;
  margin: 0px 20px;
}

.mood{
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  padding: 20px;
}

input {
  background: rgba(255, 255, 255, 0.5);
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
  background-position: 13px center;
  background-size: 3rem;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  padding: 5px 5px;
  text-indent: 30px;
  width: 160px;
  border: 2px solid rgba(214, 214, 214, 0.5);
  border-radius: 40px;
}

input:focus {
  background-image: none;
  background-position: -10px center;
  text-indent: 10px;
}

.left-box{
  width: 80vw;
  height : 100vh;
}

.right-box{

}

.memory-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.memory-grid .memory-box{
  width: auto;
  height: auto;
  border-radius: 10px;
  background: #CCE6FF;
  margin: 5px;
  padding: 15px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.memory-grid .start-memory-box{
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 3px dashed #A48975;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
  aspect-ratio: 1;
}

.cursor{
  cursor: pointer;
}
